.ant-btn {
    box-shadow: none !important;
}

.ant-menu-item {
    border-radius: 0px !important;
  }
.ant-menu-item-selected{
    border-right:3px solid;
}
.ant-pagination-prev{
    margin-left: auto;
}
.ant-pagination-next{
    margin-right: auto;
}
.ant-pagination{
    width: 100%;
}
.svg-wrapper{
  
}
.ag-menu.ag-column-menu, .ag-menu-list, .ag-set-filter {
     background-color: white !important;
}
#related_person_phone:hover {
     border-color: #c27f5d;
}
#related_person_phone:focus {
    border-color: #c27f5d;
}


  